.modal-sumbit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: var(--footer-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  @include font(700, 16px, 1.8, 0.06em);
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.8;
  // letter-spacing: 0.06em;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: #188ce8
}
}

.modal-sumbit-name {
  padding: 10px 28px;
}

.modal-top-name {
  @include font(700, 20px, 1.15, 0.03em);
  // font-weight: 700;
  // font-size: 20px;
  // line-height: 1.15;
  // letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

// @media screen and (min-width: 480px) {
//     .modal-top-name{
// width: 370px;
// height: 60px;
//     }
//   }

@media screen and (min-width: 320px) {

  .modal{
      width: 320px;
    }
  }

  @media screen and (min-width: 380px) {

  .modal{
      width: 380px;
    }

    textarea{
    width: 300px;
    // height: 120px;
    }

  }

//   @media screen and (min-width: 768px) {
//     .modal-top-name{
// width: 370px;
// height: 60px;
//     }
//   }

  @media screen and (min-width: 1200px) {
    .modal-top-name{
width: 448px;
height: 23px;
    }
    
  }


.modal-case {
  position: relative;
  margin-bottom: 9px;
}
//  @media screen and (min-width: 480px) {
//     width: 480px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }

  // @media screen and (min-width: 1200px) {
  //   width: 1200px;
  // }


.modal-card {
  color: var(--main-clor);
  @include font(null, 12px, 1.16, 0.01em);
  // font-size: 12px;
  // line-height: 1.16;
  // letter-spacing: 0.01em;
  top: -50%;
  left: 0;
  transform: translateY(20%);
}

.modal-card-icon {
  position: absolute;
  display: inline-block;
}

.modal-topick {
  margin-top: 3px;
  width: 100%;
  padding: 11px 42px;
  font: inherit;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
  border: 1px solid var(--footer-color);
}
}


.modal-card-svg {
  position: absolute;
  top: 65%;
  left: 12px;
  display: inline-block;
  transform: translateY(-50%);
  transition-property: background-color, fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-topick:focus + & {
  fill: var(--footer-color);
}

}

.modal-comment {
  position: relative;
  margin-bottom: 15px;
}
.commentar {
  @include font(null, 12px, 1.16, 0.01em);
  margin-bottom: 4px;
  // font-size: 12px;
  // line-height: 1.16;
  // letter-spacing: 0.01em;
  color: var(--main-clor);
}

textarea {
  margin-top: 4px;
  outline: transparent;
  padding: 12px 16px;
  // width: 448px;
  // width: 370px;
  height: 120px;
  @include font(null, 14px, 1.16, 0.01em);
  // font-size: 12px;
  // line-height: 1.16;
  // letter-spacing: 0.01em;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
  border: 1px solid var(--footer-color);
}
}

@media screen and (min-width: 320px) {
    textarea{
    width: 240px;
    }
  }

  @media screen and (min-width: 380px){
    textarea {
    width: 300px;
}
  }


@media screen and (min-width: 450px) {
    textarea{
    width: 300px;
    }
  }

@media screen and (min-width: 768px) {
    textarea{
    width: 370px;
    }
  }

  @media screen and (min-width: 1200px) {
    textarea{
      width: 448px;
    }
  }

.checkbox {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
}

.input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-check {
  display: inline-block;
  margin-right: 7px;
  width: 100%;
  height: 100%;
  background-repeat: 2px;
  border: 2px solid var(--black-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .input-checkbox:checked + & {
  border-color: var(--footer-color);
  background-color: var(--footer-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  }
  .input-checkbox:focus + & {
  border-color: var(--footer-color);
}
}

.checkbox-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 14px;
  border-radius: 2px;
  border: 2px solid #212121;
  cursor: pointer;
}

.checkbox-topick {
  @include font(400, null, 1.7, 0.03em);
  color: var(--main-clor);
  display: flex;
  align-items: center;
  width: 370px;
      height: 15px;

}



@media screen and (min-width: 320px) {
    
    .checkbox-topick{
    font-size: 8px;
    letter-spacing: 0em;
    }
  }

  @media screen and (min-width: 380px) {
    
    .checkbox-topick{
    font-size: 10px;
    letter-spacing: 0em;
    }
  }

  @media screen and (min-width: 450px) {
    .checkbox-topick {
      // @include font(400, 12px, 1.7, 0.03em);
      width: 370px;
      height: 15px;
      font-size: 10px;
    }
  }

@media screen and (min-width: 768px) {
    .checkbox-topick{
// @include font(400, 12px, 1.7, 0.03em);
    width: 370px;
    font-size: 12px;
    }
  }

  @media screen and (min-width: 1200px) {
    .checkbox-topick{
@include font(400, 14px, 1.7, 0.03em);
    width: 425px;
    height: 24px;
    }
    
  }

.checkbox-bottom {
  color: var(--footer-color);
  margin-top: 2px;
  margin-left: 6px;
  text-underline-offset: 5px;
}

.modal-sumbit-two {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  @include font(700, 16px, 1.88, 0.06em);
  color: var(--white-color);
  background-color: var(--footer-color);
  border: none;
  border-radius: 4px;
  margin: 25px auto 0;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: #188ce8;
}
}


/* ------BACKDROP------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
//   width: 450px;
// height: 609px;
  // width: 528px;
  // min-height: 581px;
  padding: 40px;
  background: var(--white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  @media screen and (min-width: 768px) {
    .modal{
      width: 450px;
height: 609px;
    }

    // .textarea{
    // max-width: 370px;
    // }
  }

  @media screen and (min-width: 1200px) {
    .modal{
      width: 528px;
  min-height: 581px;
    }

    // .textarea{
    //   max-width: 448px;

    // }
  }

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.186);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 11px;
  top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  fill: var(--footer-color);
}
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}