
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #000000;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}

.no-scroll{
  overflow: hidden;
}